<!-- Show spinner when there are no articles -->
<mat-spinner *ngIf="!articles" color="accent" diameter="80"></mat-spinner>

<div class="row">
  <div class="col-12">
    <app-filter (tagFilter)="tagFilter=$event" (stringFilterOut)="searchString=$event" ></app-filter>
  </div>
</div>

<div class="row equal-height-cards">
  <div *ngFor="let a of articles | filter:searchString:tagFilter" class="col-sm-12 col-md-6 col-xl-3 mb-1 mb-md-3">
    <mat-card (click)="showArticle(a)" class="example-card rounded">
      <mat-card-header>
        <mat-card-title>{{a.title}}</mat-card-title>
        <!-- <mat-card-subtitle *ngIf="a.subTitle">{{a.subTitle}}</mat-card-subtitle> -->
        <mat-card-subtitle>{{a.subTitle}} </mat-card-subtitle>

      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <div class="text-truncate">{{a.shortSummary}} Short summary i love you to the moon and back en veeeeeeeeel
          verder</div>
        <div class="text-right p-1"><span class="tag" (click)="showTags(a.tagID);$event.stopPropagation()">{{a.tag.name}}</span></div>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>

<h2>Paginator!!!!!!!!!!!!!!!</h2>

<!-- <ul>
  <li *ngFor="let a of articles">{{a.title}} {{a.subTitle}}</li>
</ul> -->
