<div class="row">
    <div class="col-12">
        <h1 *ngIf="!update">New journalist</h1>
        <h1 *ngIf="update">Update {{journalist.firstName}} {{journalist.lastName}}</h1>
        <!-- <p>User: {{journalist|json}}</p> -->
    </div>
</div>

<form #journalistForm="ngForm" (ngSubmit)="onSubmit()" class="row text-center">

  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Firstname" type="text" required minlength="2" name="firstname"
        [(ngModel)]="journalist.firstName" />
    </mat-form-field>
  </div>

  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Lastname" type="text" required minlength="2" name="lastname"
        [(ngModel)]="journalist.lastName" />
    </mat-form-field>
  </div>

  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required minlength="2" name="email"
        [(ngModel)]="journalist.email" />
    </mat-form-field>
  </div>

  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Username" type="text" required minlength="2" name="username"
        [(ngModel)]="journalist.username" />
    </mat-form-field>
  </div>

  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required name="password" #passwordcontrol
        [(ngModel)]="journalist.password" />
    </mat-form-field>
  </div>

  <div class="col-10 offset-1">
    <button mat-raised-button color="primary" type="submit" [disabled]="!journalistForm.form.valid || submitted">Save</button>
  </div>

</form>

<div class="row text-center">
  <div class="col-12">
    <div class="mt-2 mt-lg-5"><a [routerLink]="['/journalists']">Back to journalists</a></div>
  </div>
</div>

