<div *ngIf="articles!=undefined" class="row">
  <div class="col-12">
    <h1>These are all the articles you've liked:</h1>
  </div>
</div>

<!-- No likes/articles -->
<div id="nothingFound" *ngIf="articles==undefined" class="row text-center m-2 mt-5 mb-5">
  <div class="col-12">
    You haven't liked any articles yet. <br>
    Go to the home and read some awesome articles, <br>
    maybe you read one you really, really like.
  </div>
  <div class="col-12 mt-3">
    <a mat-fab color="accent" routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
  </div>
</div>

<!-- Filter -->
<div *ngIf="articles!=undefined" class="row">
  <div class="col-12">
    <mat-form-field class="w-100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Title, Subtitle, Status" #input>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let article"> {{article.title}} </td>
      </ng-container>

      <!-- Subtitle Column -->
      <ng-container matColumnDef="subTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtitle </th>
        <td mat-cell *matCellDef="let article"> {{article.subTitle}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
        <td mat-cell *matCellDef="let article" class="text-center">
          <!-- Read the article -->
          <button mat-icon-button color="accent" (click)="showArticle(article.articleID)"
            matTooltip="Go to '{{article.title}}'" matTooltipPosition="left">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <!-- Dislike the article -->
          <button mat-icon-button color="warn" (click)="dislikeArticle(article.articleID)"
            matTooltip="Dislike '{{article.title}}'" matTooltipPosition="right">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

  </div>
</div>

<div class="row text-center">
  <div class="col-12">
    <div class=" mt-2 mt-lg-5"><a [routerLink]="['/']">Back to home</a></div>
  </div>
</div>
