img {
  max-height: 50vh;
  width: auto;
  margin: auto;
}

mat-icon {
    // color: red;
    background-color: inherit;
    font-size: 50px;
    margin-top: -25px;
    margin-left: -25px;
  }


#like {

    .full{
        display: none;
    }
    
    color: red;
    background-color: inherit;



  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    .full{
        display: inline-block;
    }
    .outline{
        display: none;
    }



  }

  &::after{
    .full{
        display: inline-block;
    }
    .outline{
        display: none;
    }
}

}

// @keyframes heartbeat {
//   0% {
//     transform: scale(.75);
//   }

//   20% {
//     transform: scale(1);
//   }

//   40% {
//     transform: scale(.75);
//   }

//   60% {
//     transform: scale(1);
//   }

//   80% {
//     transform: scale(.75);
//   }

//   100% {
//     transform: scale(.75);
//   }
// }
