<div class="row text-center">
  <div class="col col-12 text-center">
    <h1 class="bold text-center">{{article.title}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-6">
    {{article.title}}
  </div>
  <div class="col-6 text-center">
    {{article.title}}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p>{{article.body}}</p>
  </div>
</div>

<hr>

<app-reaction *ngIf="articleID" [articleID]="articleID"></app-reaction>

<div class="row">
  <div class="col-12">
    <p>TO DO</p>
    <ul>
      <li>Reactions</li>
      <li>Likes</li>
    </ul>
  </div>
</div>