<div *ngIf="reactions!=undefined" class="row">
  <div class="col-12">
    <h1>These are all the reactions you've placed on articles:</h1>
  </div>
</div>

<!-- No reactions/articles -->
<div id="nothingFound" *ngIf="reactions==undefined" class="row text-center m-2 mt-5 mb-5">
  <div class="col-12">
    You haven't responded to any articles yet. <br>
    Go to the home and read some awesome articles, <br>
    and share your thoughts.
  </div>
  <div class="col-12 mt-3">
    <a mat-fab color="accent" routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
  </div>
</div>

<!-- Filter -->
<div *ngIf="reactions!=undefined" class="row">
  <div class="col-12">
    <mat-form-field class="w-100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Title, Subtitle, Status" #input>
    </mat-form-field>
  </div>
</div>

<!-- The paginator doesn't work when using conditional rendering ! -->
<div class="row">

  <div class="col-12">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Title Column -->
      <ng-container matColumnDef="article.title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title of article</th>
        <td mat-cell *matCellDef="let reaction"> {{reaction.article.title}} </td>
      </ng-container>

      <!-- Content Column -->
      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reaction </th>
        <td mat-cell *matCellDef="let reaction"> {{reaction.content}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let reaction"> {{reaction.date | date:"dd/MM/yyyy - HH:mm"}} </td>
      </ng-container>


      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
        <td mat-cell *matCellDef="let reaction" class="text-center">
          <!-- Go to the detail page of the article-->
          <button mat-icon-button color="accent" (click)="showArticle(reaction.articleID)"
            matTooltip="Go to '{{reaction.article.title}}'" matTooltipPosition="right">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

  </div>

</div>

<div class="row text-center">
  <div class="col-12">
    <div class=" mt-2 mt-lg-5"><a [routerLink]="['/']">Back to home</a></div>
  </div>
</div>
