<div class="row">
  <div class="col-12 text-center">
    <h1>Sign Up</h1>
    <!-- <p>User: {{newUser|json}}</p> -->
  </div>
</div>

<form #signupForm="ngForm" (ngSubmit)="onSubmit()" class="row text-center">

  <!-- First name -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Firstname" type="text" required minlength="2" name="firstName"
        [(ngModel)]="newUser.firstName" />
    </mat-form-field>
  </div>

  <!-- Last name -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Lastname" type="text" required minlength="2" name="lastName"
        [(ngModel)]="newUser.lastName" />
    </mat-form-field>
  </div>

  <!-- E-mail -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required minlength="2" name="email"
        [(ngModel)]="newUser.email" />
    </mat-form-field>
  </div>

  <!-- Username -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Username" type="text" required minlength="2" name="username"
        [(ngModel)]="newUser.username" />
    </mat-form-field>
  </div>

  <!-- Password -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required name="password" #passwordcontrol
        [(ngModel)]="newUser.password" />
    </mat-form-field>
  </div>

  <!-- Submit -->
  <div class="col-10 offset-1">
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.form.valid || submitted">Sign
      Up</button>
    <div class="text-muted mt-2">Already an account? <a [routerLink]="['/login']">Log In</a> immediatly! </div>
  </div>

</form>
