<div class="row">
  <div class="col-12">
    <h1 mat-dialog-title>{{article.title}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 mat-dialog-title class="text-muted">{{article.subTitle}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div mat-dialog-content class="font-weight-bold text-justify">{{article.shortSummary}}</div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <div mat-dialog-content class="text-justify">{{article.body}}</div>
  </div>
</div>

<div class="row">
  <div id="actions" class="col-12">
    <mat-dialog-actions align="center">
      <button mat-button mat-raised-button color="warn" mat-dialog-close mat-dialog-close="discard">Discard</button>
      <button mat-button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="publish">Publish</button>
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>

  </div>
</div>
