<div class="row">
  <div class="col-12">
    <h2>Reactions</h2>
  </div>
</div>

<!-- <div class="row"> -->
<app-add-reaction [articleID]="articleID"></app-add-reaction>
<!-- </div> -->

<div class="row reaction mb-1 mb-md-2" *ngFor="let reaction of reactions">
  <div class="col-12 col-md-9 reaction-name mb-1 text-left">
    {{reaction.user.firstName}} {{reaction.user.lastName}}
  </div>
  <div class="col-12 col-md-3 text-muted">
    <small>{{reaction.date | date:"dd/MM/yyyy - HH:mm"}}</small>
  </div>
  <div class="col-12 reaction-content">
    {{reaction.content}}
  </div>
</div>
