<div class="row">
  <div class="col-12">
    <h2>Reactions</h2>
  </div>
</div>

<!-- <div class="row"> -->
<app-add-reaction [articleID]="articleID"></app-add-reaction>
<!-- </div> -->

<div class="row reaction mb-1 mb-md-2" *ngFor="let reaction of reactions">
  <div class="col-12 col-md-8 reaction-name mb-1 text-left">
    {{reaction.user.firstName}} {{reaction.user.lastName}}
  </div>
  <div class="col-12 col-md-4 text-right text-muted">
    <small>{{reaction.date | date:"dd/MM/yyyy - HH:mm"}}</small>
  </div>
  <div class="col-10 reaction-content">
    {{reaction.content}}
  </div>

  <!-- Delete your own placed reactions -->
  <div *ngIf="reaction.userID == userID" class="col-2 text-right">
    <button mat-icon-button color="warn" (click)="editReaction(reaction)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteReaction(reaction)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>

</div>
