<p>filter works! maybe show some chips with selected filters</p>


<div class="row">
    <div class="col-12">
      <mat-accordion class="" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <!-- <mat-panel-title>
                Filter
              </mat-panel-title> -->
            <mat-panel-description class="text-center">
              Filter articles
              <mat-icon>filter_alt</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
  
          <mat-form-field>
            <mat-label>Search (title, short summary)</mat-label>
            <input matInput>
          </mat-form-field>
  
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="fill">
                <mat-label>Geen idee</mat-label>
                <mat-select>
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="col-6">
              <mat-form-field appearance="fill">
                <mat-label>Tag</mat-label>
                <mat-select>
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option2">Option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  

<!-- <div class="row">
  <div class="col-12 text-center mb-2">
    <button mat-raised-button color="accent">Search articles</button>
  </div>
</div>


<form class="row mb-sm-1 mb-lg-3">
  <div class="col-6">
    <mat-form-field appearance="fill">
      <mat-label>Search (title, short summary)</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field appearance="fill">
      <mat-label>Geen idee</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field appearance="fill">
      <mat-label>Tag</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
        <mat-option value="option2">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
 -->
